In [2]:
import os
import pandas as pd

ROOT_DIR = os.path.dirname(os.path.dirname(os.getcwd()))
USERS_INFO_CSV = os.path.join(ROOT_DIR, 'output', '2022-02-01', 'user-objs.csv')

df = pd.read_csv(USERS_INFO_CSV)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512713 entries, 0 to 512712
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   statuses_count   512713 non-null  int64
 1   description      370983 non-null  object
 2   created_at       512713 non-null  object
 3   name             511475 non-null  object
 4   verified         512713 non-null  bool
 5   location         313548 non-null  object
 6   screen_name      512713 non-null  object
 7   user_id          512713 non-null  int64
 8   followers_count  512713 non-null  int64
 9   friends_count    512713 non-null  int64
dtypes: bool(1), int64(4), object(5)
memory usage: 35.7+ MB

In [4]:
columns = [
    'user_id', 'screen_name', 'location', 'created_at', 'verified', 'name', 'description',
    'statuses_count', 'friends_count', 'followers_count'
]
df = df[columns]
df.head()

,user_id,screen_name,location,created_at,verified,name,description,statuses_count,friends_count,followers_count
0,1636827366,TeamLexi1,NaN,Thu Aug 01 01:47:32 +0000 2013,False,read bio or unfollow,please follow @BieberFtSwiftie ilysm and ur be...,5,1097,92
1,925892840,loyalniallhoran,NaN,Sun Nov 04 18:37:00 +0000 2012,False,m,5/5 janoskians,16868,266,1550
2,3006267625,julie_bengco,NaN,Sun Feb 01 08:54:56 +0000 2015,False,julie Bengco,NaN,15,223,31
3,74449128,julinalexandra,"Lund, Sverige",Tue Sep 15 13:38:59 +0000 2009,False,alexandra,"political scientist as well as leadership, wel...",58001,317,614
4,4220518635,OrlandoMilian2,NaN,Wed Nov 18 19:48:49 +0000 2015,False,OrlandoAmilianmiami,NaN,70202,3683,857

In [10]:
import json

with open('locations.json', 'w') as f:
    json.dump(list(df['location'].unique()), f, indent=2)

In [19]:
import tweepy

conn_details = {
    'consumer_key': 'IjpnDAD4qu0vCeN1s0NRmamk7' ,
    'consumer_secret': '1Kdf2KzWBd9RjQSMrn8zlSjWhcLoq70NdSQCoxOyWAPGfVn1yQ',
    'access_key': '1488636618407825414-iHngfRQIPysaTMflzQCrtI5KbC6Kv5',
    'access_secret': 'g5xwWPpoJrpdtC36uwFrOAB4PwBDQjIoNOiywJhAB37pp', 
}

auth = tweepy.OAuthHandler(conn_details['consumer_key'], conn_details['consumer_secret'])
auth.set_access_token(conn_details['access_key'], conn_details['access_secret'])
api = tweepy.API(auth, wait_on_rate_limit=True)
damjan = api.lookup_users(user_id=[1340638895881510912])
print(json.dumps(damjan[0]._json, indent=4))

{
    "id": 1340638895881510912,
    "id_str": "1340638895881510912",
    "name": "Damjan",
    "screen_name": "DamjanKraljic",
    "location": "Republic of Croatia",
    "description": "",
    "url": null,
    "entities": {
        "description": {
            "urls": []
        }
    },
    "protected": false,
    "followers_count": 0,
    "friends_count": 4,
    "listed_count": 0,
    "created_at": "Sun Dec 20 12:43:30 +0000 2020",
    "favourites_count": 0,
    "utc_offset": null,
    "time_zone": null,
    "geo_enabled": false,
    "verified": false,
    "statuses_count": 0,
    "lang": null,
    "contributors_enabled": false,
    "is_translator": false,
    "is_translation_enabled": false,
    "profile_background_color": "F5F8FA",
    "profile_background_image_url": null,
    "profile_background_image_url_https": null,
    "profile_background_tile": false,
    "profile_image_url": "http://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png",
    "profile_image_url_https": "https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png",
    "profile_link_color": "1DA1F2",
    "profile_sidebar_border_color": "C0DEED",
    "profile_sidebar_fill_color": "DDEEF6",
    "profile_text_color": "333333",
    "profile_use_background_image": true,
    "has_extended_profile": true,
    "default_profile": true,
    "default_profile_image": true,
    "following": false,
    "follow_request_sent": false,
    "notifications": false,
    "translator_type": "none",
    "withheld_in_countries": []
}

In [35]:
temp_df = df.dropna()
temp_df.user_id.str.isalpha()

1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
          ...
941554    False
941556    False
941557    False
941558    False
941559     True
Name: user_id, Length: 496712, dtype: object

In [38]:
temp_df.user_id

1               325059286
2              1421869783
3                35652315
4               385876702
5               935330526
               ...
941554      eHealth Forum
941556        Max Meeghan
941557      #WWELiveIndia
941558    WE PAW Bloggers
941559               seel
Name: user_id, Length: 496712, dtype: object

In [41]:
temp_df.user_id.tail(50)

941462                                        sugar & spice
941463                                   nhorie rigor ⟭⟬ ⟬⟭
941467                                   Mister B Amsterdam
941468                                                allie
941469                                    čangrizavi oposum
941472                    Daphne Caruana Galizia Foundation
941474                                     Me, Myself and I
941478                                  Waarom weet ik dit?
941480                                            Liverpool
941483                                          Sajanas1234
941485                                              ʍɑʀςєℓɑ
941486                                          Paul_Surrey
941488                                           Peter Fash
941495                                    Pancho von Sastre
941498                                     ExactlyWebDesign
941499                                          arirangpops
941502                                              OBILIUM
941503                                      Felicja Kowalsk
941504                                                 Leah
941507                                   new @xcalumsxhoodx
941510                                                  syd
941512                                                Tyler
941513                                       Silvio Kovacic
941514                                           Nina Tepev
941516                                          Darius Slay
941518                                               CAPTIS
941519                               Mikey (Michael) Thomas
941520                                    Erick alan cortez
941523                                                   K.
941524                                            Ana Puzar
941525                                   Katy Perry Mendoza
941526                                            Tom Hobbs
941529                                 FansRJ11♥Tamaulipas
941532                                        Logan Pollaro
941533                                     Nikolina Vrbanec
941535    Philippa Willitts: Freelance Writer & Proofreader
941536                                    Croatian Belieber
941539                                         Vernon Myers
941540                                      Gennaro Gattuso
941542                                              Candace
941544                                              ☁Eli ||
941545                                         school sucks
941547                                  Glazers and Ed out.
941549                                     Branko Radulovic
941551                                                curdy
941554                                        eHealth Forum
941556                                          Max Meeghan
941557                                        #WWELiveIndia
941558                                      WE PAW Bloggers
941559                                                 seel
Name: user_id, dtype: object

In [46]:
temp_df[temp_df.user_id.astype(str).str.isnumeric()]

,user_id,screen_name,location,created_at,verified,name,description,statuses_count,friends_count,followers_count
1,325059286,soundmeupmx,"Mexico, D.F.",Mon Jun 27 17:32:34 +0000 2011,False,Soundmeup,music / events / clubs / djs / music / art / p...,10247,279,66007
2,1421869783,RonCentrone,"Fort Lauderdale, Florida",Sat May 11 23:56:38 +0000 2013,False,RonCentrone,#RealEstate #Realtor Download my Moblie App a...,5867,2738,2160
3,35652315,imvuce,"Ohio, USA",Mon Apr 27 03:08:42 +0000 2009,False,IMVUCE,The Official Twitter Account for http://t.co/c...,315,589,13631
4,385876702,Heffnerfg,"El Paso, Texas",Thu Oct 06 08:58:35 +0000 2011,False,Antonia Heffnerff,"When it comes to the designing,",11,70,21
5,935330526,tamara0207,"Bjelovar, Croatia",Thu Nov 08 20:15:51 +0000 2012,False,TK,Life lover,3,38,11
...,...,...,...,...,...,...,...,...,...,...
930262,61898,267,False,Tue Aug 21 23:24:31 +0000 2012,France,345,1352,772470517,1Dfan19971,@onedirection more a life ! I follow every one...
933210,７２０,1768,False,Mon Aug 10 16:01:45 +0000 2009,岡山,147696,3189,64437109,natumaru,ただいま絶賛自宅療養中の自称最底辺絵絵描き（仮）、\r\n気軽にフォローしてくださるともれな...
935494,44,32248,False,Wed Sep 21 16:04:45 +0000 2011,Herts,67145,984,377450735,itsprxya,@ChelseaFC
935759,18,224,False,Tue Feb 02 02:32:35 +0000 2010,"Robbins, IL",1799,623,110588574,QueenShativia,I'm doing better than most... I love my life a...
940220,02032014,5006,False,Fri Aug 17 17:42:41 +0000 2012,Neverland.,17101,6478,764141113,cinquegiugno,"5.06.2013, gd / 2.03.2014, atl."